* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


/*CUSTOM CLASSES*/

.bg-red {
	background-color: rgba(185,20,80,255);
}

.bg-grey  {
	background-color: dimgray;
	color: black;
}

.text_color_red {
	color: rgba(185,20,80,255);
}